<div class="form-container"> 
    <h1>LOGIN</h1>
    <br>
    <a href="/api/sessions/github" >Acceder con Github </a>
    <br><br>

    <form action="/login" method="post">
        
        <div class="form-group">
            <label form="name">EMAIL:</label>
            <input type="text" id="email" name="email" placeholder="enter your email" required autocomplete="off">
        </div>
        </div>
        <div class="form-group">
            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password" placeholder="password" required>
        </div>
        <button type="submit" class="submit-btn">LOGIN</button>
    </form>
    <p>Don't have an account? <a href="/signup">signup</a></p>
</div>